#home {
    width: 100vi;
    height: 100vh;
}

#home .nav {
    width: 100vi;
    height: 5rem;

    display: flex;
    text-align: center;
    align-items: center;
    line-height: 5rem;
}

#home .nav button {
    width: 9.5rem;
    height: 2.0625rem;
    flex-shrink: 0;

    margin: 1rem;

    background-color: white;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);

    color: #D99202;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}